<div class="jumbotron text-center" style="background-color:#4863A0;">
<font color="white">  <h1>Edureka Employee Directory</h1>
  <p>{{ tagline }}</p>
</font>
</div>
<div>
  <p>Employees are the backbone of any company, their management pays a major role in deciding the success of the organization. Employee Management Software makes easy for the employer to keep a track all the records. This Project contains Employee payroll and Salary features, which is developed In this project administrator can add employee records, designation etc.</p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="jumbotron text-center" style="background-color:#4863A0;height:50px;">
<font color="white">  <small>Edureka Employee Directory</small>
  <small>{{ tagline }}</small><br/>
  <small>Developed by Laxminarsaiah Ragi, All rights reserved 2016.
</font>
</div>
